AUTH_SECRET=replace-with-a-long-random-secret
AUTH_GOOGLE_ID=864208153797-jn31lp53d22c48n07ncgnd90te7nan7p.apps.googleusercontent.com
AUTH_GOOGLE_SECRET=your-google-client-secret
SSLCOMMERZ_SESSION_URL=https://sandbox.sslcommerz.com/gwprocess/v4/api.php
BKASH_PGW_SESSION_URL=https://tokenized.sandbox.bka.sh/v1.2.0-beta/tokenized/checkout/create
